@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700&display=swap');
body {
    font-family: 'Noto Sans TC', sans-serif;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


.responsiveBg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    
}

section .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
       background-color:#10010f;
    opacity: 0.5;
    height: 100%;
}


.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    /* background-attachment: scroll; */
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

  }
  
.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #10010f;
    opacity: 0.5;

  }
/* 
  .borderLeft {
    border-left: 1px solid whitesmoke ;
    padding-left: 20px;

  } */

  .hr_line {
    background-color: #cccccc;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
  }



  .fixed {
    position: fixed;
  }


  .marginHeaders {
    margin-left: 10px;
    margin-right: 10px;
  }


  .chat_button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 40px;
    height: 90px;
    width: 16em;
    text-align:center;
    background-color: #e6e6e6;
    border: none;
    color: #77E;
    cursor: pointer;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    border-radius: 10px;
  }
  .chat_button:hover {
    border: 2px solid #Eff;
    background-color: #77E;
    color: #eff;
    }

    
    
  .chat_button:focus, :active{
    outline: none;
     
  }


  .chat_box {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 40px;
    /* height: 90px; */
    width: 16em;
    /* transition: .5s ease-in-out; */
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;

  }
 

  .responsiveImgBlog {
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.responsiveImgPost {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.delayBox {
  animation-delay: 2s;
    transition: .5s ease-in-out;
}


.navbar-item.center {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}



.sticky {
  height: 100vh;
  left: 0;
  padding-top: 12em;
  /* padding-left: 0em; */
  width: 100%;
  text-align: left;
  top: 0;
  background-color: #ffdd59;
  position: fixed;
  

}



.sticky>.inner {
  margin-left: 1em;
  text-transform: uppercase;
  margin-right: 2em;
}

@media only screen and (max-width: 768px) {
  .sticky {
   display: none;
  }
}


.mainIntro {
  margin-left: 35%;
  max-width: 100%;
  width: 75%;
}

.top-space {
  margin-top: 10px;
}

.content-shadow {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.35), 1px 1px 5px rgba(0,0,0,0.5);
}


.responsiveImgClient {
  height: 20rem ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}
/* 
.content blockquote {
  background-color: #352f37;
  border-left: 5px solid #3a354a;
  padding: 1.25em 1.5em;
} */

.headshot {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  margin-left: 1em;
  z-index: 9999;
  margin-top: -18px;
}


.responsiveImgProject {
  height: 25rem ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.center-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlayBG {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
     background-color:#10010f;
  opacity: 0.5;
  height: 100%;
}

.overlayBG:hover {
  background-color: #424242;
}

.profilepic {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  z-index: 9999;
  top: -4em;
  left: 31px;
}


.profilepic2 {
  width: 150px;
  height: 150px;
  border-radius: 100%;

}

@media only screen and (max-width: 768px) {
  .profilepic2 {
    left: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .profilepic {
   display: none;
  }
}


.activesticky {
 font: italic bold
}


.menu {
 
  display: inline-block;
  text-decoration: none;

}


.menu::after {
  content: "";
  /* display: block; */
  width: 0;
  height: 1px;
  background: #363636;
  transition: width 0.5s;
}

.menu:hover::after {
  width: 100%;
  transition: width .3s;
}


.background-fixed {
  background-color: #0d0d0d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23262604' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23383b06'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}