@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700&display=swap');
body {
    font-family: 'Noto Sans TC', sans-serif;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
.responsiveBg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

section .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
       background-color:#10010f;
    opacity: 0.5;
    height: 100%;
}


.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    /* background-attachment: scroll; */
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

  }
  
.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #10010f;
    opacity: 0.5;

  }
/* 
  .borderLeft {
    border-left: 1px solid whitesmoke ;
    padding-left: 20px;

  } */

  .hr_line {
    background-color: #cccccc;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
  }



  .fixed {
    position: fixed;
  }


  .marginHeaders {
    margin-left: 10px;
    margin-right: 10px;
  }


  .chat_button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 40px;
    height: 90px;
    width: 16em;
    text-align:center;
    background-color: #e6e6e6;
    border: none;
    color: #77E;
    cursor: pointer;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    border-radius: 10px;
  }
  .chat_button:hover {
    border: 2px solid #Eff;
    background-color: #77E;
    color: #eff;
    }

    
    
  .chat_button:focus, :active{
    outline: none;
     
  }


  .chat_box {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 40px;
    /* height: 90px; */
    width: 16em;
    /* transition: .5s ease-in-out; */
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;

  }
 